<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Page ADMIN</title>
    <meta charset="UTF-8">
    <title>Admin connecter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <div>
            Cette page est réserver pour les administrateurs.
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>