<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page de connexion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div class="grid">

    <form th:action="@{/login}" method="post" class="form login">
        <div class="form__field">
            <label for="login__username">User</label>
            <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__password">Password</label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="text--center">
            <label id="login__checkbox_label" for="login__checkbox">remember me?</label>
            <input id="login__checkbox" type="checkbox" name="remember-me" />
        </div>

        <div class="text--center" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="text--center" th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class="form__field">
            <input type="submit" value="Sign In">
        </div>
    </form>
</div>

<div>
    <p>Pas de compte ?</p>
    <a href="creerCompte">Créer un compte</a>
</div>
</body>
</html>
